<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	

	<connectionStrings>
		<add name="DBTContext" connectionString="data source=LAPTOP-NH2G45RH\SQLEXPRESS;initial catalog=DptStoreDB; integrated security=True;MultipleActiveResultSets=True;Trusted_Connection=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>